.footer__list-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .footer__list-item {
        padding-top: 32px;
    }

    .footer__list-item:first-of-type {
        padding-top: 0px;
    }

}    